#form {
    background-color: rgb(216, 236, 228);
    width: 400px;
    border-radius: 17px;
    border-color: bisque;
    top: 60px;
    text-align: center;

    padding: 10px 0px ;  
    margin: 0 auto;
    box-shadow: 3px 3px 1px rgb(131, 146, 100);
    
    
}


p1 {
    font-size: 50px;
    font-family: serif;
    color: orange;
 
}

p2 {
    font-style: normal;
    font-size: 15px;
}

fieldset {
    border: 1px;
    
}

#button:hover {
    background: linear-gradient(#e27d12, rgb(231, 143, 10)) #d68b8b;
    cursor: pointer;
}

#button {
    display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  margin-top: 20px;

}


 