#header {
    background: url(../img2.jpg) no-repeat;
    height: 550px; 
    color: beige;
    box-shadow: 0 0 18px 3px #6b7e82;
    margin-top: 1%;
}

#content
{
    background: #f7f7f7;
    height: 600px; 
    color: rgb(21, 56, 43);
    box-shadow: 0 0 18px 3px #6b7e82;
    margin-top: 1%;
}

#education
{
    background: #979090;
    height: 600px; 
    color: rgb(21, 56, 43);
    box-shadow: 0 0 18px 3px #6b7e82;
    margin-top: 1%;
}


#footer
{
    background: #758b7e;
    height: 600px; 
    color: beige;
    margin-top: 1%;
}